
@import url('https://fonts.googleapis.com/css?family=Raleway');

/*colors*/
$grey-dark: #636468;
$grey-light: #A0ADBA;
$grey-lighter: #F4F4F4;

$red: #F91D41;
$blue: #1EA7F8;
$orange: #FCB154;
$green: #00B7A7;

$color-text: $grey-dark;
$color-text-accent: $grey-light;
$color-light: white;


/*spacing*/
$spaceNum: 15;
$chat-thumb-size: 80;

$space: $spaceNum+px;
$space-ver: $space 0;

body{
    background-color: #F1F4F7;
    font-family: 'Raleway', sans-serif;
}

.page-title{
    color: $color-text;
}
.component{
    .box{
        background-color: $color-light;
        border-radius: 5px;
        overflow: hidden;
        margin: $space-ver;
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
        .header{
            font-size: 21px;
            color: $color-text;
            padding-top: $space;
            padding-bottom: $space;
            border-bottom: 1px solid $grey-lighter;
            i{
                font-size: 26px;
                margin-right: $space; 
            }
        }
    }  
}



.widgets-component{
    .widget{
        .icon{
            padding: $space-ver;
            color: $color-light;
            text-align: center;
            font-size: 32px;
            &.shopping-bag{
                background-color: $blue;
            }
            &.comment{
                background-color: $orange;
            }
            &.user{
                background-color: $green;
            }
            &.tachometer{
                background-color: $red;
            }
        }
    }

    .data{
        text-align: center;
        padding: $space;
        @media (min-width: 768px){
            text-align: left;
        }
        .count{
            font-size: 26px;
            line-height: 26px;
            color: $color-text;
        }
        .legend{
            font-size: 11px;
            color: $color-text-accent;
        }
    }
}

.chat-component{
    .chat-messages{
        max-height: 250px;
        overflow-y: scroll;
        .line{
            clear: both;
            margin: $space;
            position: relative;
            border-bottom: 1px solid $grey-lighter;
            min-height: $spaceNum+$chat-thumb-size+px;
            .portrait{
                width: $chat-thumb-size+px;
                height: $chat-thumb-size+px;
                border-radius: $chat-thumb-size+px;
                overflow: hidden;
                position: absolute;
                top: 0;
                img{
                    max-width: 100%;
                }
                .fake-picture{
                    background-color: orange;
                    width: 100%;
                    height: 100%;
                }
                
            }
            .message{
                .user-info{
                    .user-name{
                        font-weight: bold;
                        
                    }
                    .time{
                        color: $color-text-accent;
                        font-size: 10px;
                        margin-left: $spaceNum/2+px;
                    }
                }
                .user-message{
                    color: $color-text;
                }
            }
            &.display-left{
                padding-left: $spaceNum+$chat-thumb-size+px;
                .portrait{
                    left: 0;
                }
            }
            &.display-right{
                padding-right: $spaceNum+$chat-thumb-size+px;
                .portrait{
                    right: 0;
                }
            }
        }
    }
}

.chat-form{
    padding: $space 60px $space $space;
    position: relative;
    border-top: 1px solid $grey-lighter;
    clear: both;
    .form-control{
        display: inline-block;
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    button{
        display: inline-block;
        position: absolute;
        right: $space;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        color: $color-light;
        background-color: $green;
        transition: all .3s ease-in-out;
        &:hover{
            background-color: darken($green, 15%);
            color: $color-light ;
        }
    }
}

.animation-appear {
    opacity: 0.01;
    &.animation-appear-active {
        opacity: 1;
        transition: opacity .5s ease-in;
    }
}

.animation-enter {
    opacity: 0.01;
    &.animation-enter-active {
        opacity: 1;
        transition: opacity 5000ms ease-in;
    }
}

.animation-leave {
    opacity: 1;
    &.animation-leave-active {
        opacity: 0.01;
        transition: opacity 3000ms ease-in;
    }
}

.loader{
    text-align: center;
    &.app{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
    }
    .fa-spinner{
        margin: $space-ver;
        color: $grey-light;
    }
}